@model List<IdentityChatEmailNightt.Entities.Message>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<p>@item.SenderEmail - @item.Subject - <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-warning"> Mesajı Aç </a></p>
}
